@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  outline: none;
}

body {
  font-family: "Gloria Hallelujah", cursive;
  -webkit-font-smoothing: antialiased;
  color: #333;
  line-height: 1, 6;
  background-color: whitesmoke;
}

/* UTILS */

:root {
  --white-color: #ececec;
  --white-color-hover: #ffffff;
  --black-color: #3c3c3c;
  --black-color-hover: #4d4d4d;
  --success-color: #ff6347;
}

.debug {
  border: 3px solid var(--black-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* MANAGER */

.wrapper {
  height: 100vh;
  width: 100vw;
}

/* GOAL PANEL */

.goal-panel {
  height: 10vh;
  width: 10vw;
  margin-left: 5vw;

  font-size: 10vh;
  line-height: 10vh;
  font-weight: 900;
}

/* STATUS PANEL */

.status-panel {
  height: 10vh;
  width: 10vw;
  margin-left: 5vw;

  font-size: 3vh;
  font-weight: 900;
}

.emoji {
  padding-left: 10px;
}

/* COUNTDOWN */

.countdown {
  width: 1vw;
  font-size: 3vh;
  color: var(--success-color);
}

/* BOARD */

.chess-board {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 80vh;
  height: 80vh;
}

.board-coords-wrapper {
  width: 90vh;
  height: 90vh;
  border-radius: 25px;
  box-shadow: 0px 0px 25px 5px #414a4c;
}

/* SQUARE */

.square {
  border: 2px solid var(--black-color);
  border-radius: 3.5px;
  margin-top: -2px;
  margin-left: -2px;
  width: 10vh;
  height: 10vh;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 3vh;
}

.square:nth-child(-n + 8) {
  margin-top: 8px;
}

.square:hover {
  background-color: var(--black-color-hover);
}

.square:nth-child(-2n + 8),
.square:nth-child(8) ~ .square:nth-child(-2n + 15),
.square:nth-child(16) ~ .square:nth-child(-2n + 24),
.square:nth-child(24) ~ .square:nth-child(-2n + 31),
.square:nth-child(32) ~ .square:nth-child(-2n + 40),
.square:nth-child(40) ~ .square:nth-child(-2n + 47),
.square:nth-child(48) ~ .square:nth-child(-2n + 56),
.square:nth-child(56) ~ .square:nth-child(-2n + 63) {
  background-color: var(--white-color);
  color: var(--black-color);
}

.square:nth-child(-2n + 8):hover,
.square:nth-child(8) ~ .square:nth-child(-2n + 15):hover,
.square:nth-child(16) ~ .square:nth-child(-2n + 24):hover,
.square:nth-child(24) ~ .square:nth-child(-2n + 31):hover,
.square:nth-child(32) ~ .square:nth-child(-2n + 40):hover,
.square:nth-child(40) ~ .square:nth-child(-2n + 47):hover,
.square:nth-child(48) ~ .square:nth-child(-2n + 56):hover,
.square:nth-child(56) ~ .square:nth-child(-2n + 63):hover {
  background-color: var(--white-color-hover);
}

/* TODO: better positioning */
.file {
  color: var(--black-color);
  position: relative;
  left: -85%;
}

.rank {
  color: var(--black-color);
  position: relative;
  bottom: -85%;
}
